.App {
  background-color: #16161d;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.container {
	border: 1px solid #ccc;
	width: 50%;
	min-width: 900px;
}

.container.large {
	min-width: 1400px;
}